<!DOCTYPE html>
<html>
  <head>
    <title>FlowOverstack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">FlowOverstack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <%= form_tag questions_path, method: :get do %>
            <span class="form-inline my-2 my-lg-0">
              <%= text_field_tag :concept, params[:concept], class: "form-control mr-sm-2", placeholder: "Keyword" %>
            </span>
            <%= submit_tag "Search", name: nil, class: "btn btn-outline-success my-2 my-sm-0 btn-md" %>
          <% end %>

          <ul class="navbar-nav ml-auto">
            <% if signed_in? %>
              <li class="nav-item">
                <div class="btn btn-outline-success end-btns" id="greeting-btn" >
                  Hello, <%= current_user.name %>
                </div>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", logout_path, class: "btn btn-outline-success end-btns", method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_path, class: "btn btn-outline-success end-btns" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log in", login_new_path, class: "btn btn-outline-success end-btns" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
